@import "tailwindcss";



.hide-mg {
  opacity: 0;
 display: none;
  transition:  opacity 1s ease-in-out;
}

.emg:hover .hide-mg {
  opacity: 1;
  visibility: visible;
  display: flex;

}
